h1, h2, h3, h4, h5, h6 { 
    text-shadow: 0.03em 0.03em 0.03em black;
}

body {
    color:  rgb(40,40,40);
}

.navbar-inverse .navbar-inner {                                                     
    background-color: #034482;                                                        
    background-image: -moz-linear-gradient(top, #5a9fd4, #306998);                    
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a9fd4), to(#306998));
    background-image: -webkit-linear-gradient(top, #5a9fd4, #306998);                 
    background-image: -o-linear-gradient(top, #5a9fd4, #306998);                      
    background-image: linear-gradient(to bottom, #5a9fd4, #306998);                   
    background-repeat: repeat-x;                                                      
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a9fd4', endColorstr='#ff306998', GradientType=0);
    border-color: #033464;                                                            
}     

.btn-inverse {                                                                      
    color: #ffffff;                                                                   
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);                                        
    background-color: #0f3253;                                                        
    background-image: -moz-linear-gradient(top, #306998, #5a9fd4);                    
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#306998), to(#5a9fd4)); 
    background-image: -webkit-linear-gradient(top, #306998, #5a9fd4);                 
    background-image: -o-linear-gradient(top, #306998, #5a9fd4);                      
    background-image: linear-gradient(to bottom, #306998, #5a9fd4);                   
    background-repeat: repeat-x;                                                      
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff306998', endColorstr='#ff5a9fd4', GradientType=0); 
    border-color: #5a9fd4 #5a9fd4 #000000;                                            
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);          
    *background-color: #5a9fd4;                                                       
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */ 
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);              
}  
