---
layout: default
---

<div class="container">

  <div class="hero-unit" style="text-align:center; background-color:#fff; margin-bottom:-10px">
    <img alt="logo" src="img/py-cu-logo.png">
    <p>Py-CU is Champaign-Urbana's Python User Group.</p>
    <p>We are a bunch of people who want to get together to learn, teach, share and discuss<br/>
    all things related to the Python programming language.  </p>
    <br/>
    <p><a class="btn btn-large btn-inverse" href="form_interest.html"><span class="btn-label">Tell us what you want to talk about.</span></a>
    </p>

</div>

  <div class="row main-features">

    <div class="span6">
      <div class="well">
      <div style="float:left">
            <h3>Announcements</h3>
        </div>
        <div style="float:right">
            <a class="btn btn-primary" href="announcements.html"><span class="btn-label">All announcements</span></a>
        </div>
        <div style="clear:both">
            {% assign i = 0 %}
            {% for post in site.posts %}
                {% if i < 3 %}
                    {% if post.category == 'announcements' %}
                            <p><a href="{{ post.url }}"> {{post.slug}} </a></p>
                            {% assign i = i | plus: 1 %}
                        {% endif %}
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="well">
      <div style="float:left">
            <h3>Recent and upcoming events</h3>
        </div>
        <div style="float:right">
            <a class="btn btn-success" href="events.html"><span class="btn-label">All events</span></a>
        </div>
        <div style="clear:both">
            {% assign i = 0 %}
            {% for post in site.posts %}
                {% if i < 2 %}
                    {%  if post.category == 'events' %}
                            <p><a href="{{ post.url }}"> {{post.date | date:"%B %d, %Y" }}: {{ post.title}} </a>
                            {{post.slug}} </p>
                            {% assign i = i | plus: 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>

    </div>
  <div class="row main-features">
    <div class="span6">
      <div class="well">
        <h3>Meetings</h3>
        <ul>

            <li>
                <strong>Monthly general meetings</strong> are for presentations and group discussions
            </li>

            <li>
                <strong>Weekly hack sessions</strong>
                are for teaching/learning/discussing anything tech
                    <ul style="font-size: 0.85em;">
                        <li>Tuesdays, 7 - 9 PM</li>
                        <li> <a href="http://makerspaceurbana.org/">Urbana Makerspace</a>
                    (<a href="http://www.ucimc.org/">IMC</a> basement,
                    <a href="https://www.google.com/maps/place/202+S+Broadway+Ave,+Urbana,+IL+61801/@40.1114134,-88.2068363,17z/data=!3m1!4b1!4m2!3m1!1s0x880cd79ffc64b461:0x4db01f05be68e257">202 S. Broadway Ave., Urbana</a>)
                    <span style="">
                    <br>
                        <img src= "img/label_blue_high_sat_new.png"
                        width="25px"> <a
                        href="https://www.youtube.com/watch?v=NtVYBwzWRjY&feature=youtu.be">How
                        to find the Makerspace - video</a>
                    </span>
                    </li>
                    </ul>
            </li>

        </ul>
      </div>
    </div>



    <div class="span6">
          <div class="well">
            <h3>Resources</h3>
            <p>
                Elizabeth's directory of Python resources:
                <a href="http://elizabethwickes.wordpress.com/pythonresources/">http://elizabethwickes.wordpress.com/pythonresources/</a>
            </p>
            <p>
                Python beginner tutorials Tumblr (with content ranging beyond the class):
                <a href="http://py-curious.tumblr.com/">Py-Curious</a>
            </p>
            <p>
                <a href="http://lists.py-cu.org/pipermail/py-cu-py-cu.org/">Our LISTSERV archives</a>
            </p>
          </div>
     </div>



     <div class="span6 offset3">
        <div class="well">
            <h3>Contact Us</h3>
            <p>Email us at <a href="mailto:info@py-cu.org">info@py-cu.org</a>.</p>
            <p><a href="http://lists.py-cu.org/listinfo.cgi/py-cu-py-cu.org">Sign
            up for our mailing list</a>.</p>
            <p>Join our groups on 
            <a href="http://www.facebook.com/groups/115113665332255/">Facebook</a>
            and <a href="http://www.meetup.com/Python-CU/">Meetup</a>.</p>
            <p>Subscribe to our <a href="{{ site.url }}/feeds/rss.xml">RSS
            feed</a>.</p>
            <p> Hit us up on
            <a href="https://github.com/py-cu">Github</a> or
            <a href="https://twitter.com/py_cu">Twitter</a>.
            </p>
        <div>
    </div>

    </div><!-- end main-features -->
  </div><!-- end container -->


<div id="footer" class="pull-right">
    <a href="https://twitter.com/py_cu"
      class="twitter-follow-button" data-show-count="false"
      data-size="large">Follow @py_cu</a>
    <script>!function(d,s,id){var
      js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>
